.header-navbar {
    margin: 15px 20px 0 0;
}
table {
    border: 1px;
    text-align: center;
}

img {
    height: 500px;
    width: 500px;
}

.add {
    text-align: center;
}

.sender-image {
    text-align: center;
}

table {

}