.header-navbar {
    margin: 15px 20px 0 0;
}
table {
    border: 1px;
    text-align: center;
}

img {
    height: 500px;
    width: 500px;
}

.add {
    text-align: center;
}

.sender-image {
    text-align: center;
}

textarea{
    width: auto;

    height:100px;
    min-height:100px;
    max-height:100px;
}

.infostyle{
    text-align: left;
    font-size: 14px;
}
.thumbnailmy{
    display:inline-block;
    max-width:100%;
    height:auto;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}

.thumbnailm{
    display:block;
    padding:4px;
    margin-bottom:22px;
    line-height:1.6;
    background-color:#f5f8fa;
    border:1px solid #ddd;
    border-radius:4px;
    -webkit-transition:border .2s ease-in-out;
    transition:border .2s ease-in-out;
}

body{
    background: rgb(65,65,65);
    min-width: 750px;
}


.textlight{
    color: #a4a4a4;
    display: inline;
}

.message{
    display: inline;
}

.data-message{
    font-size: 14px;
}
.tags-message{
    font-size: 12px;
}
.autor-message{
    font-size: 22px;
    color: #575454;
}
.data-message-c{
    font-size: 10px;
}
.autor-message-c{
    font-size: 15px;
    color: #575454;
}
.btn-main {
    height: 10px;
}
.panel-default{
    padding: 5px;
}
.nameuser{
    padding-left: 15px;
}
.btn-cmmnt{
    padding-right: 18px;
}
.message-content{
    padding: 10px;
}

.tableuser{
    padding-left: 10px;
    width: 400px;
}
.img-crop-center{
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 50px;
    width: 50px;
}
.img-crop-center-c{
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 40px;
    width: 40px;
}
.linetext{
    position: relative;
    overflow: hidden;
    font-size: 20px;
}

.align-right{
    text-align: right;
}

.linetext:after {
    display: inline-block;
    content: "";
    height: 2px;
    border-radius: 2px;
    background: #7c7c7c;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-left: 10px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #7c7c7c;
}